html{
    margin: 0;
}
nav{
    border: 2px solid black;
    height: 40px;
    text-align: center;
    padding-top: 25px;
    background-color: gray;
    
}
nav a{
    border: 2px solid black;
    border-radius: 8px ;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    background-color: darkgray;

}