body{
    margin: 0;
    background-color: #212121;
    color: #fff;
}
nav{
    background-color:grey;
    height: 40px;
    margin: 0px;
    padding-top: 25px;
    text-align: center;
}
a{

    background-color: #c7c7c7;
    padding: 10px 30px;
    border-radius: 8px;
    color:#181818;
    text-decoration: none;
    border: 2px solid #212121;
    
}