body{
    margin:0;

}


.canvas{
    margin: 100px auto 100px;
    width:80%;
    text-align: center;
    border: 10px solid black;
}
.button{
     width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
nav{
    background-color: rgb(97, 97, 97);
    height: 40px;
    margin: 0px;
    padding-top: 25px;
    text-align: center;
}
a{

    background-color: #c6c2c2;
    padding: 10px 30px;
    border-radius: 8px;
    color:#181818;
    text-decoration: none;
    border: 2px solid #212121;
    
}
