body{
    margin: 0;
    background-color: #212121;
}
nav{
    background-color: rgb(102, 102, 102);
    height: 40px;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}
nav a{
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    border: 2px solid #212121;
}

.container{
    
    height: 88.5vh;
    
    color: aliceblue;
}
.container a{
    text-decoration: none;
    color:aliceblue;
    display: block;
    border: 2px solid rgb(6, 6, 6);
    width: 50vw;
    height:3vh ;
    font-size: 20px;
    padding-top: 5px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    
}
