body{
    margin: 0;
}
nav{
    border: 2px solid black;
    height: 20px;
    padding: 10px;
}
nav a{
    margin: 10px 8px;

    border: 2px solid black;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}